@charset "UTF-8";

:root {
    --blue-color-one: #2196F3;
    --blue-color-50: #e3f2fd;
    --blue-color-100: #bbdefb;
    --blue-color-200: #90caf9;
    --blue-color-300: #64b5f6;
    --blue-color-400: #42a5f5;
    --blue-color-500: #2196f3;
    --blue-color-600: #1e88e5;
    --blue-color-700: #1976d2;
    --blue-color-800: #1565c0;
    --blue-color-900: #0d47a1;
}

::-webkit-scrollbar { 
    display: none; 
} 

html, body {
    height: 100%;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin:0;
    padding:0;
    border:0;
}


/*
* 모바일
*/

body {
    background-color: var(--blue-color-50);
}

.wrap {
    min-width: 300px;
    margin: 0 auto;
    background-color: var(--blue-color-50);
    height: 100%;
    width: 100%;
}

.header_area {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--blue-color-900);
    color: white;
    position: relative;
}

.header_area p {
    margin: 0;
}

.header_area .button {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
}


.input_area {
    background-color: var(--blue-color-400);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}


/*
* 태블릿
*/
@media all and (min-width: 768px) {

body {
    background-color: var(--blue-color-100);
}

.wrap {
    height: 100%;
    width: 500px;
}

.header_area {
    width: 500px;
}

.input_area {
    width: 500px;
}

}


/*
* PC
*/
@media all and (min-width: 960px) {

body {
    background-color: var(--blue-color-100);
}

.wrap {
    height: 100%;
    width: 500px;
}

.header_area {
    width: 500px;
}

.input_area {
    width: 500px;
}

}

.chat_area {
    width: 100%;
    min-width: 300px;
    overflow-y: auto;
    1-ms-overflow-style: none;
    height: calc(100% - 80px);
}

.chat_area .chat_block {
    clear: both;
    padding-left: 5px;
}

.chat_area .chat_block .thumbnail_area {
    clear: both;
    float: left;
    width: 60px;
    height: 60px;
    vertical-align: top;
}

.chat_area .chat_block .thumbnail_area >.thumbnail_img {
    margin-top:5px;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 0px solid var(--blue-color-800);;
}

.chat_area .chat_block .text_area {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.chat_area .chat_block .text_area .margin{
    float: left;
    width: 10px;
}

.chat_area .chat_block .text_area .message {
    border-radius: 5px;
    background-color: var(--blue-color-100);
    padding: 5px;
    margin-left: 10px;
    max-width: 240px;
}

.chat_area .mymessage {
    clear: both;
    float: right;
    margin-top: 5px;
}

.chat_area .mymessage .text_area {
    margin-right: 5px;
}

.chat_area .mymessage .text_area .message {
    margin: 0;
    border-radius: 5px;
    background-color: var(--blue-color-100);
    padding: 5px;
    max-width: 240px;
    float: left;
}

.chat_area .mymessage .text_area .margin {
    float: left;
    width: 10px;
}

.chat_area .alert_message {
    clear: both;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
}


.input_area {
    line-height: 30px;
}

.input_area .chat_input {
    margin-left: 3px;
    border: 1px solid #bcbcbc;
    border-radius: 0px;
    height: 1.5em;
    width: calc(100% - 80px);
}

.input_area .send_button {
    width: 60px;
    display: inline-block;
}




.wrap .gamelist_area {
    
}

.wrap .gamelist_area > p {
    text-align: center;
}

.wrap .gamelist_area ul{
    list-style: none;
    padding-left: 0px;
}

.wrap .gamelist_area ul > a:link {
    color: white;
    text-decoration: none;
}

.wrap .gamelist_area ul > a:visited {
    color: white;
    text-decoration: none;
}

.wrap .gamelist_area ul li{
    list-style: none;
    background-color: var(--blue-color-400);
    margin: 5px;
    border-radius: 5px;
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
}

.wrap .gamelist_area ul li:hover{
    background-color: var(--blue-color-700);
}