<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Game Room!</title>
    <link href="../resources/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="menu">
        <div>
            <button class="close_button">닫기</button>
        </div>
        <div>
            <div>
                <span>참가장</span>
            </div>
            <ul class="user_list">
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </div>
    </div>
    
    <div class="wrap">
        <input class="roomid" type="hidden" data-roomid="11">
        <div class="header_area">
            <!-- img class="arrow" src="${pageContext.request.contextPath}/img/left.png"-->
            <div class="button_area">
                <img class="menu_button" src="../resources/img/menu_button.png">
            </div>
            <div class="r_area">
                    <img class="play_button" src="../resources/img/play.png">
                </div>
            <div>
                Head
            </div>
            
            
        </div>

        <div class="chat_area">
            <div class="alert_message">
                가나다라마바사아자차카타파하
            </div>
            <div class="chat_block">
                <div class="thumbnail_area">
                    <img class="thumbnail_img" src="../resources/img/user.png" alt="">
                </div>
                <div class="text_area">

                    <div class="name">
                        <span>유재찬</span>
                    </div>
                    <div class="margin">
                            <img class="arrow" src="../resources/img/left.png">
                    </div>
                    <div class="message">
                        안녕
                    </div>
                </div>
            </div>
            <div class="chat_block">
                <div class="thumbnail_area">
                </div>
                <div class="text_area">
                    <div class="message">
                        안녕하세요 반가워요안녕하세요
                        반가워요안녕하세요 반가워요
                        안녕하세요 반가워요안녕하세요
                        반가워요안녕하세요 반가워요
                    </div>
                </div>
            </div>
            <div class="alert_message">
                가나다라마바사아자차카타파하
            </div>
            <div class="mymessage">
                <div class="text_area">
                    <div class="message">
                        안녕하세요 반가워요안녕하세요
                        반가워요안녕하세요 반가워요
                        안녕하세요 반가워요안녕하세요
                        반가워요안녕하세요 반가워요
                    </div>
                    <div class="margin">
                        <img class="arrow" src="../resources/img/right.png">
                    </div>
                </div>
            </div>
            <div class="mymessage">
                <div class="text_area">
                    <div class="message">
                        안녕
                    </div>
                    <div class="margin">
                        <img class="arrow" src="../resources/img/right.png">
                    </div>
                </div>
            </div>
            <div class="alert_message">
                가나다라마바사아자차카타파하
            </div>
            <div class="player_list">
                <div class="player">
                    <div class="user_img">
                        <img class="thumbnail_img" src="../resources/img/user.png" alt="">
                    </div>
                    <div class="user_name">
                        김론론
                    </div>
                </div>
                <div class="player">
                        <div class="user_img">
                            <img class="thumbnail_img" src="../resources/img/user.png" alt="">
                        </div>
                        <div class="user_name">
                            김론론
                        </div>
                </div>
                <div class="player">
                        <div class="user_img">
                            <img class="thumbnail_img" src="../resources/img/user.png" alt="">
                        </div>
                        <div class="user_name">
                            김론론
                        </div>
                </div>
            </div>
            <div class="mymessage">
                    <div class="text_area">
                        <div class="message">
                            안녕
                        </div>
                        <div class="margin">
                            <img class="arrow" src="../resources/img/right.png">
                        </div>
                    </div>
                </div>
                <div class="alert_message">
                    가나다라마바사아자차카타파하
                </div>
        </div>

        <div class="input_area">
            <div class="text_area">
                <input class="chat_input" type="text" name="값의 이름" value="값" />
            </div>
            <div class="button_area">
                <div class="send_button">
                    보내기
                </div>
            </div>
            
            
        </div>
    </div>

    <script type="template" id="chat_template">
			<div class="chat_block">
					<div class="thumbnail_area">
						<img class="thumbnail_img" src="${pageContext.request.contextPath}/img/01.jpg" alt="">
					</div>
					<div class="text_area">
						<div class="name">
							<span>유재찬</span>
						</div>
						<div class="margin">
							<img class="arrow" src="${pageContext.request.contextPath}/img/arrow.png">
						</div>
						<div class="message">
							{message}
						</div>
					</div>
				</div>
	</script>
    <script type="template" id="mymessage">
			<div class="mymessage">
                    <div class="text_area">
                        <div class="message">
                           {message}</div>
                        <div class="margin">
                            <img class="arrow" src="./img/arrow.png">
                        </div>
                    </div>
                </div>
	</script>
    <script src="../resources/js/common/utils.js"></script>
    <script src="../resources/js/lib/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    
    <script src="../resources/js/menu.js"></script>
</body>

</html>