<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Game Room!</title>
    <link href="../resources/css/style.css?ver=1" rel="stylesheet">
</head>

<body>
    <div class="conA">
        <div class="logout">
                <form action="./logout" method="POST">
                    <input class="button" type="submit" value="LOGOUT">
                </form>
        </div>
        <div class="container">
            <h1>범인은 누구?</h1>
            <p>추리 게임</p>
            <c:when test="${user ne null}">
                <a href="/games">게임시작</a>
            </c:when>
            <c:otherwise>
                <a href="/loginform">로그인하기</a>
            </c:otherwise>
        </div>
    </div>
</body>

</html>