@charset "utf-8";

@media all and (min-width:320px) {

}

@media all and (min-width:768px) {

}

@media all and (min-width:1024px) {

}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: 100%;
}

.wrap {
    height: 90%;
}

.main_area {
    background-color: aqua;
    width: 500px;   
}

.chat_area {    
    background-color: blue;
    
    height: 450px;
    padding: 10px;
    overflow-y: auto;
}

.input_area {
    padding: 10px;
}

.chat_block {
    background-color: blanchedalmond;
    width: 450px;
    margin: 5px;
}

.chat_block .thumbnail_area {
    width: 60px;
    vertical-align: top;
}

.chat_block .thumbnail_area >.thumbnail_img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid black;
}

.chat_block .text_area {
    width: 240px;
    border: 1px solid red;
    margin-left: 10px;
}

.chat_block .text_area > .chat_text {
    margin: 5px;
}


.input_area .chat_input {
    border: 1px solid #bcbcbc;
    border-radius: 2px;
    height: 1.5em;
}

.input_area .send_button {
    height: 2em;
    width: 8em;
    background-color: #f8585b;
    border: none;
    color: white;
    cursor: pointer;
}






/*
*   login
*/

.login_form {
    width: 500px;
    height: 500px;
    background-color: white;
}